*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.background{
    width: 100%;
    height: 100%;
    background-image:linear-gradient(rgba(73, 184, 72, 0.5), rgba(26, 250, 52, 0.6)), url(bg.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
}
.formBox{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 4rem auto;
    background: #fff;
    padding: 0.5rem;
    opacity: 0.8;
    border-radius: 8px;
    overflow: hidden;
}
.buttonBox{
    width: 220px;
    margin: 1rem auto;
    position: relative;
    background: #9bb59d;
    box-shadow: 0 0 10px 5px #b1e2e3;
    border-radius: 25px;
}
.toggle-btn{
    padding: 1rem 2rem;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: white;
    font-weight: bold;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #49b848, #42e966);
    border-radius: 30px;
    transition: .5s;
} 
.loginForm,
.register{
    top: 100px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.register{
    top: 70px;
}
.inputField,
.details{
    width: 100%;
    margin: 1.5rem 2.5rem;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1.5px solid #999;
    outline: none;
    background: transparent;
}
.details{
    margin: 1.4rem 2rem ;
}
.details-first{
    margin-top: 2rem;
}
.submitBtn{
    width: 220px;
    padding: 1rem 2rem;
    cursor: pointer;
    display: block;
    margin: 0 4rem;
    background: linear-gradient(to right, #49b848, #42e966);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
}
.login-btn{
    margin-top: 1rem;
}
.inputCheck{
    margin: 0.25rem 0 1rem 2.5rem;
    width: 12px;
    cursor: pointer;
}
.remember{
    font-size: 15px;
    color: #777;
    padding: 5px;
}
.agree{
    font-size: 14px;
    padding: 5px;
    color: #777;
}
#loginForm{
    left: 450px;
}
p{
    font-size: 12px;
    margin-left: 140px;
    color: #777;

}
.icons{
    margin-left: 125px;
    margin-top: 12px;
}
.icons img{
    width: 20px;
    height: 20px;
    padding: 5px;
}

 
@media(max-width: 768px){
    .formBox{
        margin: 2.5rem auto;
        height: 420px;
    }
    form{
        top: 80px;
    }
    .details{
        margin: 1rem 2rem ;
    }
    .details-first{
        margin-top: 2rem;
    }
    .inputCheck{
        margin: 0 0 1rem 2.5rem;
    }
    p{
        font-size: 12px;
    }
    .icons{
         margin-top: 0rem;
    }
    .agree{
        font-size: 14px;
    }
     
     
}

